language: go
dist: xenial
os:
    - linux
    - osx
    - windows
env:
    global:
      - GO111MODULE=on
go:
    - 1.12
git:
    depth: 3
addons:
    apt:
        packages:
            - git
            - mercurial
    
before_install:
    - git config -l
    - git --version
    - |
      if [ $TRAVIS_OS_NAME == "windows" ]; then
        choco install hg
        export PATH="$PATH:/c/Program Files/Mercurial/"
      fi
    - hg --version

script:
    - env GO111MODULE=on bash ./test/test.sh
after_success:
    - bash <(curl -s https://codecov.io/bash) || echo "Codecov coverage report upload error"
